# ── CPU ──────────────────────────────────────────────────────
# IP y puerto de Kernel Scheduler
KS_IP=127.0.0.1
KS_PORT=8001

# IP y puerto de Kernel Memory
KM_IP=127.0.0.1
KM_PORT=8002

# IP y puerto de Memory Stick (puede haber varios, este es el primero)
MS_IP=127.0.0.1
MS_PORT=8003

# Nivel de log
LOG_LEVEL=INFO