# ── Kernel Scheduler ─────────────────────────────────────────
# Puerto donde KS levanta su servidor (para CPUs e IOs)
PORT=8001

# IP y puerto de Kernel Memory
KM_IP=127.0.0.1
KM_PORT=8002

# Nivel de log
LOG_LEVEL=INFO

# Algoritmo de planificación: FIFO / RR / CMN (CP2)
PLANIFICATION_ALGORITHM=FIFO

# Algoritmos por cola cuando es CMN (CP2)
QUEUES_ALGORITHMS=[FIFO,RR,RR,FIFO,RR,FIFO]

# Quantum en ms para Round Robin (CP2)
RR_QUANTUM=1500

# Desalojo entre colas: TRUE / FALSE (CP2)
QUEUE_PREEMPTION=TRUE

# Timeout en ms antes de suspender un proceso en IO (CP2)
SUSPENSION_TIMEOUT=35000