# ── SWAP ─────────────────────────────────────────────────────
# IP y puerto de Kernel Memory
KM_IP=127.0.0.1
KM_PORT=8002

# Nivel de log
LOG_LEVEL=INFO

# Path al archivo de SWAP
SWAP_FILE_PATH=/tmp/tp_so_swapfile.bin

# Tamaño total del archivo de SWAP en bytes
SWAP_FILE_SIZE=2048

# Tamaño de cada bloque en bytes
BLOCK_SIZE=64