# ── Kernel Memory ────────────────────────────────────────────
# Puerto donde KM levanta su servidor
PORT=8002

# Nivel de log: TRACE / DEBUG / INFO / WARNING / ERROR
LOG_LEVEL=INFO

# Tamaño máximo de un segmento (CP3)
SEGMENT_MAX_SIZE=256

# Algoritmo de selección de huecos: BEST o WORST (CP3)
ALLOCATION_STRATEGY=BEST

# Delay en ms antes de responder un pedido de instrucción (CP3)
INSTRUCTION_DELAY=500

# Delay en ms para la compactación (CP3)
COMPACTION_DELAY=30000

# Path donde están los archivos de pseudocódigo (CP3)
SCRIPTS_BASEPATH=/home/utnso/plug-n-pray-pruebas